---
---


@import "minima";

$brand-color: rgb(236, 72, 153);
$base-font-size:   18px;

.grey {
  color: rgb(55, 65, 81);
}

@function text-color($color) {
  @if (lightness( $color ) > 40) {
    @return black;
  } @else {
    @return white;
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}

body.default {
  min-height: 100vh;
}


.social-media-list {
  display: table;
  //margin: 0 auto; // Centering
  margin: 0 0 0 auto; // Right align

  li {
    float: left;
    margin: 0;

    &:first-of-type {
      margin-left: 0
    }

    &:last-of-type {
      margin-right: 0
    }

    a {
      display: block;
      padding: $spacing-unit / 4;
      border: hidden;
      -webkit-border-radius: 0%;
      -moz-border-radius: 0%;
      border-radius: 0%;
      @include transition(background-color .5s ease);
      .svg-icon {
        transform: scale(1.25);
      }
    }

    &:hover {
      .svg-icon {
        color: text-color($brand-color);
      }
      .grey {
        color: $brand-color;
      }
    }
  }
}

.profile {
  padding-left: 0 !important;
  .social-media-list {
    li {
      margin: 0 5px;

      a {
        .svg-icon {
          transform: scale(2);
        }
      }
    }
  }
}


.page-content:has(.home) {
    padding: 0;
    flex: 0 0 auto;
}

.home {
  display: grid;
  grid-template-columns: repeat(1,minmax(0,1fr));

  @media screen and (min-width: $on-large) {
      //min-height: calc(100vh - 144px);
  }

  .social-media-list {
    margin: 0;
    li {
      margin: 10px 5px;

      a {
        .svg-icon {
          transform: scale(2);
        }
      }
    }
  }

}
/*
#home-header {

  .site-title {
    width: 50%;
    span {
      font-size: $base-font-size * 3;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }
}*/

.col-span-2 {
  grid-column: span 2/span 2;
}

.site-title {
  line-height: 43px;
  font-size: $base-font-size;
  font-weight: normal;
  letter-spacing: normal;
  color: #111;
}



.site-title:visited {
  color: #111;
}

.site-title img {
  width: 64px;
  height: 64px;
}

.site-title span {
  margin-left: 20px;
  font-size: x-large;
}

.site-nav {
  .page-link {
    font-weight: 500;
    font-size: large;
  }
}

.page-content {
  padding: 0;
  flex: 1 0 auto;
}

.lol {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.full-width {
  width: 100vw;
  background-repeat: no-repeat;
  position: relative;
  background-position: right;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row * {
  box-sizing: border-box;
}

@media screen and (min-width: 800px) {
  .col-1 {
    flex: 1
  }
  .col-2 {
    flex: 2
  }
  .col-3 {
    flex: 3
  }
  .col-4 {
    flex: 4
  }

  .home {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}

.flex-item {
  flex: 1 1
}

.text-center {
  text-align: center;
}

.posts-card {
  width: 100%;
}

.tags-sidebar {
  text-align: right;
  margin: 0 10px;
}

$color: #f5f5f5;
.tag {
  background-color: $color;
  color: text-color($color);
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: .75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap;
}

a > .tag:hover {
  text-decoration: none;
  background-color: lighten($color, 10%);
  color: #fff;
}

.tag-small {
  font-size: .6rem;
  line-height: 1;
  font-weight: 500;
}

.box {
  background-color: #fff;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(10, 10, 10, 0.1);
  //box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #111;
  display: block;
  padding: 1.25rem;
}

.cards:not(:last-child) {
  margin-bottom: 1.5rem;
}


.breadcrumbs {
  line-height: 2.5em;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.breadcrumb-item {
  display: inline;
}

.breadcrumb::before {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: #6c757d;
  content: "›\00a0";
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  //padding: 3rem 1.5rem 0 1.5rem;
}

.hero-body {
  align-items: center;
  display: flex;
}

.author_img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 1px solid #eeed;
}

.project-card {
  box-sizing: border-box;
  flex: none;
  width: calc(100% - 20px);
  margin: 10px;

  @media screen and (min-width: $on-medium) {
    width: calc(50% - 20px);
  }

  @media screen and (min-width: $on-large) {
    width: calc(33.333% - 20px);
  }
}

.apps-card {
  box-sizing: border-box;
  flex: none;
  width: 100%;

  @media screen and (min-width: $on-large) {
    width: calc(50% - 20px);
  }

  figure {
    margin-bottom: 0;

    img {
      max-width: unset;
    }
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 3px;
  }
  .title {
    font-size: 2rem;
    font-weight: 700;
  }
  .subtitle {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
}
.hero-body.profile {
  //position: sticky;
  top: 1rem; /* how far from top */
  align-self: end; /* so sticky positioning works inside grid/flex */
}

.profile-title {
  font-size: 3.3rem;
  font-weight: 500;
}

.no-wrap {
  flex-wrap: nowrap;
}

#publications {
  .title {
    font-size: $base-font-size *1.1;
    font-weight: 700;
  }
  .publication-type {
    margin-top: 60px;
  }
  .publication-year {
    margin-top: 30px;
  }

  .links {
  margin-bottom: 30px;
}
}


.full-height {
  height: 100%;
}

#projects .box {
  transition: 0.5s cubic-bezier(0, 0, 0, 1) box-shadow;
}

#projects .box:hover {
  box-shadow: 0 2px 10px rgba(10, 10, 10, .2), 0 0 0 1px rgba(10, 10, 10, .1);
}

#projects .box h2 .tag {
  background-color: #f5f5f5;
  position: relative;
  bottom: 4px;
}

#projects .box h2 .tag {
  position: relative;
  bottom: 4px;
}

#projects a {
  text-decoration: none;
}

#projects a .box:hover .title {
  text-decoration: underline;
}

#projects .box h2 {
  font-size: 1.7rem;
}

.app {
  font-size: $base-font-size;
  margin: auto;
  width: calc(100%);
  @media screen and (min-width: $on-large) {
    width: calc(70%);
  }
}
.app-content {
  img {
    border-radius: 6px;
    margin-bottom: 32px;
  }
}

.app-header {
  height: calc(100vh - 144px);

  .app-icon {
    width: 256px;
    height: 256px;
    margin: auto;
    display: block;
  }

  h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
    font-weight: 700;
  }

  h2 {
    font-size: 2rem;
  }
}



.title, .subtitle {
  word-break: break-word;
}

.subtitle {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  margin-bottom: 0;
}

.box .image img {
  border-radius: 2px;
}

.image img {
  margin: auto;
  display: block;
  height: auto;
  width: 100%;
}

.margin-small {
  padding: 30px;
}

.section {
  padding: 1.5rem;
}
