---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div id="apps">
    {{ content }}

    {% assign app_types = site.apps | map: 'type' | compact | uniq %}
    {% for type in app_types %}

    <h2>{{ type | capitalize }} apps</h2>
    <div class="row">
      {% for app in site.apps %}
      {% if app.type contains type %}
      <a href="{{ app.url }}" class="apps-card">
        <div class="box">
          <div class="row full-height no-wrap">

            {% assign has_icon = false %}

            {% capture icon%}{{ app.name | downcase | replace: " ", "_" }}/icon.png{% endcapture %}
            {% for coll in site.collections %}
            {% if coll.label == "apps" %}
            {% for file in coll.files %}
              {% if file.path contains icon %}
                {% assign has_icon = true %}
              {% endif %}
            {% endfor %}

            {% endif %}
            {% endfor %}

            {% if has_icon %}
            <figure class="">
              {% capture icon%}{{page.dir}}{{ app.name | downcase | replace: " ", "_" }}/icon.png{% endcapture %}
              <img alt="{{ app.name }}" src="{{ icon | relative_url }}" width="128" height="128">
            </figure>
            {% endif %}
            <div class="content">
              <h2>
                <span class="title">{{ app.name }}</span>
              </h2>
              <p class="subtitle">{{ app.description }}</p>
              {% for tag in app.tags %}
                {%- include tag.html tag = tag small = true -%}
              {% endfor %}
            </div>
          </div>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}

  </div>

</article>
