---
layout: default
---



{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}
<div class="home">

    <div class="hero-body">
      <div class="flex-item">
        <h1 class="profile-title">{{ site.author }}</h1>
        {{ content }}
        <div class="social-links">
            {%- include social.html -%}
        </div>

          <div class="detect-input-container">
            <input
              type="text"
              id="custom-text"
              value="human face"
              placeholder="Enter object or phrase to detect..."
              class="detect-input"
            >
            <button
              id="submit-prompt"
              class="detect-button"
            >
              Detect
            </button>
          </div>


      </div>
    </div>

    <div class="hero-body profile">
      <div class="text-center flex-item" id="overlay-container">
        <img src="/assets/images/profile_pic_gemini.jpeg" alt="" height="auto" width="100%" id="profile-pic" class="profile-pic">
        <!---
          <div class="preloader" id="preloader">
            <span></span><span></span><span></span>
          </div>
          -->
          <div class="loader margin preloader" id="preloader">
            <svg
              viewBox="-1200 -1200 3000 3000"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >

              <!-- top group -->
              <g class="top">
                <path
                  d="M255.926 0.754768L509.702 139.936V221.027L255.926 81.8465V0.754768Z"
                  fill="#FF7C00"
                  fill-opacity="0.4"
                />
                <path
                  d="M509.69 139.936L254.981 279.641V361.255L509.69 221.55V139.936Z"
                  fill="#FF7C00"
                />
                <path
                  d="M0.250138 139.937L254.981 279.641V361.255L0.250138 221.55V139.937Z"
                  fill="#FF7C00"
                  fill-opacity="0.4"
                />
                <path
                  d="M255.923 0.232622L0.236328 139.936V221.55L255.923 81.8469V0.232622Z"
                  fill="#FF7C00"
                />
              </g>

              <!-- bottom group -->
              <g class="bottom">
                <path
                  d="M255.926 141.5L509.702 280.681V361.773L255.926 222.592V141.5Z"
                  fill="#FF7C00"
                  fill-opacity="0.4"
                />
                <path
                  d="M509.69 280.679L254.981 420.384V501.998L509.69 362.293V280.679Z"
                  fill="#FF7C00"
                />
                <path
                  d="M0.250138 280.681L254.981 420.386V502L0.250138 362.295V280.681Z"
                  fill="#FF7C00"
                  fill-opacity="0.4"
                />
                <path
                  d="M255.923 140.977L0.236328 280.68V362.294L255.923 222.591V140.977Z"
                  fill="#FF7C00"
                />
              </g>
            </svg>
            <p>Detecting...</p>
          </div>





      </div>

    </div>
  </div>
