---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <div class="flex-container">
      <ul class="post-list">
        {%- for post in site.posts -%}
        <div class="post-categories">
          {% if post %}
          {% assign categories = post.categories %}
          {% else %}
          {% assign categories = page.categories %}
          {% endif %}
          {% for category in categories %}
          <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}
        </div>
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
          {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
      <div>
        <h2>Tags</h2>
        {% for tag in site.tags %}
        {% capture link %}/tag/{{ tag[0] }}{% endcapture %}
        <a href="{{ link | relative_url }}" class="tag">{{ tag[0] }}</a>
        {% endfor %}
      </div>
    </div>

    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
  {%- endif -%}

</div>
